# Virtual Environment
venv/
ENV/
.env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.ipynb_checkpoints

# Data & Logs
*.log
*.csv
*.json
*.h5
*.pth
*.pt
data/
results/
logs/

# IDEs
.vscode/
.idea/
.DS_Store

# CARLA specific
*TemporaryFiles*
*.sh
*.bat
